.task {
  margin: 5px;
  border: 1px solid #fff;
  height: 30px;
  max-width: 70vw;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}
